* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
.center {
  margin: 0 auto;
}
.mdl-layout__header {
  background-color: #2dc32c;
}

/* fab button */
.mdl-button--fab {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1;
}
#fab {
  color: #FFFFFF;
  z-index: 2;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* list */
ul {
  padding: 0;
  margin-bottom: -14px;
}
#list li {
  border-bottom: 1px solid #e5e5e5;
  color: #333;
  padding: 16px 20px 20px 20px;
  display: block;
  font-size: 16px;
  overflow: hidden;
  background: white;
  cursor: pointer;
}
#list li:after {
  font-family: FontAwesome;
  content: "\f00c";
  float: right;
  color: #e5e5e5;
}
.mdl-textfield {
  width: 100%;
  padding-bottom: 0;
  position: fixed;
  bottom: 0;
}
.mdl-textfield .mdl-textfield__input {
  padding: 20px 0 16px 20px;
  background-color: #FFFFFF;
  border-width: medium medium 0px;
}
.mdl-textfield .mdl-textfield__label {
  padding-left: 20px;
  top: 40px;
}
.mdl-textfield .mdl-textfield__label:after {
  background-color: #2dc32c;
  position: fixed;
  bottom: 0;
}
a:link[class="contact-link"] {
  color: #2dc32c;
  text-decoration: underline;
}

/* version history*/
.demo-card-square.mdl-card {
  width: 90%;
  margin-top: 20px;
}
.mdl-card {
  min-height: auto;
}
.mdl-card__supporting-text {
  padding-top: 0;
}
small {
  margin-left: 20px;
  color: #e5e5e5;
}

/* report an issue */
.mdl-card {
  width: 90%;
}
#bug, #support {
  margin-top: 20px;
}
.mdl-button.mdl-button--colored {
  color: #2dc32c;
}

/* custom prompt */
.prompt-container:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
}
.prompt-container:closed {
  display: none;
}
.prompt {
  position: fixed;
  top: 50px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  display: block;
  background: white;
  padding: 40px;
  width: 600px;
  max-width: 100%;
  z-index: 4;
}
button {
  border: none;
  background-color: transparent;
  font-weight: bold;
  /*color: #2971d4;*/
  font-size: 14px;
  padding: 15px;
  cursor: pointer;
  float: right;
  outline: none;
}
button:hover {
  background-color: #e5e5e5;
}
input,
input[type=text] {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 10px;
  outline: none;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: none;
  border-radius: 0;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  -webkit-appearance: none;
}
input:focus,
input[type=text]:focus {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  outline: none;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  -webkit-appearance: none;
}
button#btn-add,
button#btn-cancel,
button#btn-add:focus,
button#btn-cancel:focus {
  border: none;
  background-color: transparent;
  font-weight: bold;
  color: rgb(255,64,129);
  font-size: 14px;
  padding: 15px;
  cursor: pointer;
  outline: none;
  float: right;
}
button#btn-add:hover,
button#btn-cancel:hover {
  background-color: #e5e5e5;
}
button#btn-cancel {
  color: #e5e5e5;
}
button#btn-cancel:hover {
  background-color: transparent;
}

