$primary: #2dc32c
$accent: #ff4081
$gray: #DDDDDD
$white: #FFFFFF
$black: #444444

$green: #87DB48
$drkgreen: #5CA724
$lightgray: #FAFAFA

*
	list-style: none
	text-decoration: none

body
	background-color: $lightgray
	font-family: "Roboto","Helvetica","Arial",sans-serif
	font-weight: 100

.center
	margin: 0 auto

.mdl-layout__header
	background-color: $primary
  

/*START NEW CHANGES*/
.sfab
	position: fixed
	bottom: 15px
	right: 15px
	z-index: 1
	color: $white
	background-color: $green
	border-radius: 50%
	font-size: 30px
	font-weight: 200
	height: 56px
	margin: auto
	min-width: 56px
	width: 56px
	padding: 0
	overflow: hidden
	box-shadow: 0 0 20px rgba(0,0,0,0.2)
	line-height: normal
	cursor: pointer
	transition: background-color 0.35s ease, transform 0.35s ease
	.icon
		display: block
		margin-top: -4px
	&:hover
		background-color: darken($green, 5%)
	&:active
		transform: scale(0.9)
/*END NEW CHANGES*/


/* fab button */
.mdl-button--fab
	position: fixed
	bottom: 15px
	right: 15px
	z-index: 1
  
#fab
	color: $white
  
/*empty state*/
form > .empty
	//display: none
	margin: 50px auto
	text-align: center
	.empty_image
		text-align: center
		width: 100%
		max-width: 200px
		margin-bottom: 10px
	
h4, h5
	color: $black
h5
	font-family: "Roboto","Helvetica","Arial",sans-serif
	font-weight: 400
	font-size: 25pxd

/* list */
//ul
//	padding: 0
//	margin-bottom: -14px

/*START NEW CHANGES*/
ul#list
	padding: 1px
	margin: 15px
	border-radius: 5px
	//box-shadow: 0 0 20px 0 rgba(0,0,0,0.15)
/*END NEW CHANGES*/
	

#list li
	border-bottom: 1px solid $lightgray
	color: $black
	padding: 16px
	display: block
	font-size: 15px
	font-weight: 300
	overflow: hidden
	background: white
	cursor: pointer
	&:last-of-type
		border: none
	&:after
		font-family: FontAwesome
		content: "\f1db"
		font-size: 10px
		float: right
		color: $gray
  
/*#list li:hover:after
  color: $primary*/
  
.mdl-textfield
	width: 100%
	padding-bottom: 0
	position: fixed
	bottom: 0
	.mdl-textfield__input
		padding: 20px 0 16px 20px
		background-color: $white
		border-width: medium medium 0px
	.mdl-textfield__label
		padding-left: 20px
		top: 40px
	.mdl-textfield__label:after
		background-color: $primary
		position: fixed
		bottom: 0
  
footer
	position: fixed
	bottom: 0
	width: 100%
  
a:link[class="contact-link"]
	color: $primary
	text-decoration: underline

/* version history*/
.demo-card-square.mdl-card
	width: 90%
	margin-top: 20px

.demo-card-square > .mdl-card__title
.mdl-card
	min-height: auto
.mdl-card__supporting-text
	padding-top: 0

small
	margin-left: 20px
	color: $gray

/* report an issue */
.mdl-card
	width: 90%
#bug, #support
	margin-top: 20px
.mdl-button.mdl-button--colored
	color: $primary
	
/* custom prompt */
.prompt-container:before
	content: ""
	background-color: rgba(0, 0, 0, 0.2)
	display: block
	position: fixed
	top: 0
	left: 0
	bottom: 0
	right: 0
	z-index: 3
  
.prompt-container:closed
	display: none

.prompt
	position: fixed
	top: 70px
	left: 15px
	right: 15px
	margin: 0 auto
	display: block
	background: $white
	padding: 20px 40px
	max-width: 600px
	border-radius: 4px
	text-align: center
	z-index: 4
	box-shadow: 0 0 20px rgba(0,0,0,0.2)
	h4
		color: $black
		font-weight: 300

button
	border: none
	background-color: transparent
	font-weight: 200
	font-size: 14px
	padding: 15px
	cursor: pointer
	float: right
	outline: none
	&:hover
		background-color: transparent
	&.btn-add
		color: $green
		font-weight: 700
	&.btn-cancel
		color: $gray
  
input,
input[type=text]
	width: 100%
	padding: 10px 0
	margin-bottom: 10px
	outline: none
	background-color: $white
	border: 1px solid $gray
	-webkit-border-radius: none
	border-radius: 0
	-webkit-box-shadow: 0
	box-shadow: 0
	-webkit-appearance: none

input:focus,
input[type=text]:focus
	background-color: $white
	border: 1px solid $gray
	outline: none
	-webkit-box-shadow: 0
	box-shadow: 0
	-webkit-appearance: none

//.btn-add
//	color: $green
//	font-weight: 500

//.btn
//	border: none
//	background-color: transparent
//	font-size: 14px
//	padding: 15px
//	cursor: pointer
//	outline: none
//	float: right
//	.add
//		font-weight: 400
//		color: $green
//	.cancel
//		font-weight: 200
//		color: $gray

//button#btn-add,
//button#btn-cancel,
//button#btn-gotit,
//button#btn-add:focus,
//button#btn-cancel:focus,
//button#btn-gotit:focus
//	border: none
//	background-color: transparent
//	font-weight: 300	
//	color: rgb(255,64,129)
//	font-size: 14px
//	padding: 15px
//	cursor: pointer
//	outline: none
//	float: right
  
//button#btn-add:hover,
//button#btn-cancel:hover,
//button#btn-gotit:hover 
//	background-color: $gray
  
//button#btn-cancel
//	color: $gray
  
//button#btn-cancel:hover
//	background-color: transparent

.hide
	display: none !important
	opacity: 0 !important

.blur
	filter: blur(2px)
