/* version history*/
.demo-card-square.mdl-card {
  width: 90%;
  margin-top: 20px;
}

.mdl-card {
  min-height: auto;
}

.mdl-card__supporting-text {
  padding-top: 0;
}

small {
  margin-left: 20px;
  color: #e5e5e5;
}

/* report an issue */
.mdl-card {
  width: 90%;
}

#bug, #support {
  margin-top: 20px;
}

.mdl-button.mdl-button--colored {
  color: #2dc32c;
}

/* support */
